@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
    prefix: "daisyui-";
    root: "#app";
}

* {
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    font-family: sans-serif;
}

#app {
    width: 100vw;
    height: 100vh;
}

textarea {
    resize: both;
}
